/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #333;
}

p {
  margin-bottom: 0.8rem;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

strong {
  color: #f1c40f;
  font-weight: 400;
}

ul {
  list-style: none;
}

/* class */

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.bg-dark {
  background: #333;
  color: white;
}

em {
  color: #555;
}

/* vp + header */

.vp-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 2rem;
  background: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.8rem;
}

.vp-logo {
  margin-bottom: 0;
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.vp-logo i {
  color: #f1c40f;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.vp-logo a {
  font-size: 2rem;
}

header a {
  color: white;
}

.vp {
  flex: auto;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 1rem;
}

header ul li a:hover {
  color: #f1c40f;
}

.vp {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/frame.jpg) center center / cover;
}
.vp-content {
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 1rem;
}

.vp-content h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.vp-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}

/* offer */

.offer {
  padding: 10rem 1rem 10rem 1rem;
}

.offer-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.offer-elem {
  border: 1px solid #ddd;
  background: white;
  margin: 1rem;
  flex: 1;
}

.offer-elem-img {
  width: 100%;
}

.offer-elem-text {
  padding: 2rem;
  text-align: center;
}

.offer-separator {
  height: 1px;
  width: 80px;
  margin: auto;
  background: #333;
  margin: 1rem auto;
}

/* who  */

.who {
  display: flex;
  flex-flow: row nowrap;
}

.who-content-img {
  flex: 1;
  background: url(../img/team.jpg) center center / cover;
  min-height: 600px;
}

.who-content-text {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.who-content-text h2 {
  margin-bottom: 2rem;
}

.who-content-text p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

/* testimonials */

.testimonials {
  padding: 5rem 1rem 5rem 1rem;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
}

.testimonials-elem {
  flex: 1;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonials-elem-text {
  padding: 0 2rem;
}

.testimonials-elem-profil {
}

.testimonials-elem-profil img {
  width: 50px;
  border-radius: 50px;
  margin-bottom: 0.5rem;
}

.testimonials-elem-profil p {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.testimonials-elem-text p i {
  margin: 0.3rem;
}

.testimonials-content h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/* contact */

.contact {
  padding: 5rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input {
  background: #333;
  border: 0px;
  border-bottom: 1px solid #555;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  outline: 0;
  margin-bottom: 1rem;
}

.contact-form button {
  display: block;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 0px;
  border-radius: 30px;
  background: #f1c40f;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: orange;
}

/* footer */

footer {
  background: #444;
}

footer p {
  margin-bottom: 0;
  padding: 5rem 1rem 5rem 1rem;
  color: white;
  text-align: center;
}
