/* class */

.title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}


/* vp + headder */

header {
  flex-direction: column;
}

header ul {
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
}

header ul li {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.vp-content h1 {
  font-size: 2rem;
}

.vp-content p {
  font-size: 1.5rem;
  font-weight: 400;
}

/* offer */

.offer {
  padding: 5rem 1rem 5rem 1rem;
  text-align: center;
}

.offer-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* who */

.who {
  flex-direction: column-reverse;
}

.who-content-img {
  min-height: 300px;
}

.who-content-text {
  padding: 4rem 2rem;
}

/* testimonials */

.testimonials-elem {
  flex-direction: column;
}

.testimonials-elem-reverse {
  flex-direction: column-reverse;
}

.testimonials-elem-profil  {
  text-align: center;
}

.testimonials-elem-profil img {
  display: block;
  margin: 1.5rem auto;
}

/* contact */

.contact {
  padding: 5rem 1rem;
}

.contact-form button {
  margin: 3rem auto 0 auto;
}


